body {
	font-family: sans-serif;
}

.container {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}

.accordion {
	color: blue;
}

.accordion:hover {
	color: #000;
}

.accordion-title {
	position: relative;
	display: block;
	padding: 10px;
	z-index: 110;

	background-color: #eee;
	font-size: 2rem;

	cursor: pointer;

	transition: color 0.3s ease-out;
}

.accordion-title:active {
	color: red;
}

.accordion-heading {
	position: relative;
}

.accordion-content {
	z-index: -1;
	padding: 10px;
	height: 0;
	margin-top: -20px;
	text-align: center;

	opacity: 0;

	transition: all 0.4s linear;
}

.accordion-content img {
	max-width: 700px;
}

.accordion-item:has(input[type='radio']:checked) .accordion-content {
	height: 100%;
	margin-top: 0;

	opacity: 1;
}

.accordion-item:has(input[type='radio']:hover) .accordion-content {
	margin-top: 0;
	height: 100%;

	opacity: 1;
}

.plus {
	position: absolute;
	z-index: 200;
	top: 15px;
	right: 10px;

	opacity: 0;

	transition: all 0.3s ease-out;
}

.accordion:hover .plus {
	opacity: 1;
}

.accordion-heading:active .accordion-title + .plus {
	color: red;
}

.accordion-heading:has(input[type='radio']:checked, :hover) .plus {
	transform: rotate(45deg);
}

@media screen and (max-width: 1440px) {
	.accordion-title {
		font-size: 1.5rem;
	}

	.accordion-content img {
		max-width: 300px;
	}
}

@media screen and (max-width: 820px) {
	.container {
		max-width: revert;
	}
	.accordion-title {
		font-size: 1.2rem;
	}

	.plus {
		top: 13px;
	}

	.accordion-content img {
		max-width: 250px;
	}
}

@media screen and (max-width: 425px) {
	.accordion-title {
		font-size: 1rem;
	}

	.accordion-content img {
		max-width: 250px;
	}
}
